extends layout
block right-btn
  button.navbar-btn.btn.btn-info(onclick="location.href='/newentry'") New Entry
block body
  .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
    h2.sub-header Mange your entries
    .table-responsive
      table.table.table-striped
        thead
          tr
            th #
            th Name
            th Created on
        tbody
          each val, index in entries
            tr
              td= index+1
              td= val.title
              td= val.time
